@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  /* BreakePoints Personalizados */
  --breakpoint-tablet: 481px;
  --breakpoint-desktop: 881px;

  /* Colores, Fuentes, etc. Personalizados */
  --font-inter: 'Inter', sans-serif;
}

@layer base {
  body {
    font-family: var(--font-inter);
    @apply text-gray-50 bg-gray-900 leading-relaxed
  }

  h1 {
    @apply text-4xl font-extrabold
  }

  h2 {
    @apply text-3xl font-bold
  }

  h3 {
    @apply text-2xl font-semibold
  }
}


@import "./styles/components/header.css";
@import "./styles/components/footer.css";
@import "./styles/views/home.css";