@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  /* BreakePoints Personalizados */
  --breakpoint-tablet: 481px;
  --breakpoint-desktop: 881px;

  /* Colores, Fuentes, etc. Personalizados */
  --font-inter: 'Inter', sans-serif;
}